html {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

* {
    box-sizing: border-box;
}

/* test de branch */

/*  Estilos en solitario */
.fixed-box {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
}

.shadow-box {
    box-shadow: 0 0.4rem 0.9rem rgba(31, 31, 31, 0.689);
}

.block-void {
    height: 120px;
    width: auto;
    background-color: rgba(193, 88, 88, 1);
}

.no-margin {
    margin: 0;
    padding: 0;
}

.visibility-hide {
    visibility: hidden;
}

.force-font {
    font-family: "Montserrat", sans-serif;
}

.btn-font-style {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* header y barra de navegacion ------------------------------------*/
.title-prime { /* header h1 */
    background-color: #312e3b;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 0.2rem 0.5rem;
    /* margin: auto; */ /* definido en media query */
    margin: 0px auto;

    z-index: 100;
    position: relative;
}

@media only screen and (max-width:700px) {
    .title-prime {
        font-size: 18px;
    }
}

.header-box {
    position: static;
    padding: 0rem 0.8rem;
    top: 0px;
    z-index: 100;
    background-color: #4647a4;
}

.header-container {
    /* display: flex; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* gap: 0.1px; */

}

.logo-box, .logo-box2 {
    /* background-color: #dee75c; */
    justify-content: center;
    align-items: center;
}

.logo-box {
    display: flex;
}
.logo-box2 {
    display: none;
}

.logo-box img {
    height: 43px;
}

.logo-box2 img {
    height: 35px;
}

.nav-box {
    /* background-color: #312e3b; */
    background-color: rgba(24, 23, 27, .95);
    color: white;
    padding: 0rem 0.8rem;
    width: auto;
    height: fit-content;
    border-radius: 0px 0px 20px 20px;
    z-index: 99;
    top: 0px;
}

@media only screen and (max-width:700px) { /* ajuste de header y nav-box para pantallas menores 700px */
    .header-box {
        position: sticky;
    }
    .header-container{
        display: flex;
    }
    .title-prime {
        margin: 0;
    }
    .logo-box {
        display: none;
    }
    .logo-box2 {
        display: flex;
    }
    .nav-box {
        top: 35px;
    }
    /* .auto-margin { 
        margin: 0;
    } */ /* desactivado por ajuste ditecto en title-prime */
    /* .auto-position {
        position: sticky;
    } */
    /* .auto-offset {
        top: 38px;
    } */
}

.nav-container {
    display: grid;
    /* width: auto; */
    /* margin: 0;
    padding: 0; */
   /*  margin: 0px 0px 0px 200px; */
    grid-template-columns: 1fr auto 1fr;
    max-width: 1600px; /* ancho maximo centrado */
    margin: 0px auto;
}

@media only screen and (max-width:700px) {
    .nav-container {
        grid-template-columns: 100%; /* auto 75% */
    }
}

.nav-bar {
    /* font-size: 14px; */ /*  */
    /* font-weight: 400; */ /*  */

    /* width: auto; */ /*  */
    /* min-width: auto; */
    /* height: min-content; */ /*  */
    
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    flex-wrap: nowrap;
    /* align-items: flex-start; */
    gap: 0.4rem;

    padding: 0.5rem 0rem;
    align-items: center;

    /* background-color: #000000; */
    overflow-x: auto;
}

.scroll-nav {
   /*  overflow-x: scroll; */
    scrollbar-color: rgb(198, 196, 196) #312e3b;
}

/* @media only screen and (max-width: 800px) {
    .navegacion {
        justify-content: flex-start;
    }
} */

.space-box{
    /* display: inline-block; */
    /* width: 20px; */
    background-color: #dee75c;
    /* margin: 0rem 0.5rem; */
}

.nav-card, .navegacion div a {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: #ffffff;
    text-decoration: none;
    /* background-color: rgb(64, 75, 171); */  
    border-radius: 20px;
    padding: 0.5rem 0.8rem;

    min-width: fit-content; /* mantener texto horizontal */

}

.nav-card:link, .navegacion div a:link{
    background-color: rgb(62, 62, 62);  
    color: #ffffff;
}

.nav-card:hover, 
.navegacion div a:hover,
.active{
    background-color: #4647a4;
    color: #ffffff;
}

.nav-card:active, .navegacion div a:active{
    background-color: #dee75c;
    color: #000000;
}

.nav-card-title {
    /* padding: 0.5rem 0.8rem; */
    /* align-content: center; */
    font-size: 14px; /* tama単o de pesta単as en navbar */
    font-weight: 400;
}

@media only screen and (max-width:700px) {
    .nav-card-title {
        font-size: 12px;
        font-weight: 400;
    }
}

/* header .nav-sticky {
    position: sticky;
    top: 0;
    padding: auto;

} */

/* .navegacion div a {
    padding: 1rem;
    align-content: center;
} */

/* .nav-blank {
    margin-right: 0.4rem;
} */

/* secciones -----------------------------------------------*/
div.main-page {
    padding: 0rem 0rem 2rem;
}

div.main-page section:nth-child(odd){
    background-color: rgb(59, 72, 114);
}

div.main-page section:nth-child(even){
    background-color: rgb(39, 149, 74);
}

div.section-box { /* ancho maximo de main page centrado */
    max-width: 1600px;
    margin: 0px auto;
}


.section-container {
    margin: 0rem 0.2rem;
    padding: 5.4rem 0rem 0.5rem; /* espaciado para la barra de navegacion */

}

.titulo-index{
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;

    /* margin: 0rem 0rem 0.8rem; */
    background-color: #525252;

    padding: 0.5rem 1rem;

}

.style-border {
    border-radius: 0px;
}

.horizontal-space {
    padding: 0rem 1rem;
}

.grid-section {
    background-color: rgb(196, 196, 196);

    height: fit-content;
    width: auto;

    margin: 0rem 0rem;
    /* padding-bottom: 1rem; */
    padding: 1rem 0rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: start;

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

@media only screen and (max-width:1000px) and (min-width:670px)  {
    .grid-section {
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media only screen and (max-width:670px) {
    .grid-section {
        grid-template-columns: repeat(1, 1fr);
        
    }
}

.grid-section-card {
    background-color: rgba(153, 153, 153, 0.7);
    /* justify-items: center; */

    /* padding: 0rem; */
    /* margin: 0rem 0rem; */
    /* max-width: fit-content; */
    /* width: auto; */
    /* height: fit-content; */
    min-width: 300px; /* ancho de tarjetas para mantener flexbox */
    max-width: 300px;
    position: relative;
    padding: 0.4rem 0.4rem 0rem 0.4rem;
}

@media only screen and (max-width:900px) { /* ancho dinamico en revision */
    .grid-section-card {
        min-width: 240px; /* ancho de tarjetas para mantener flexbox en moviles*/
        max-width: 240px;
        background-color: rgba(153, 153, 153, 0.7);
        
    }
}


.grid-section-card:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.box-card {
    /* margin: 0.5rem 0.5rem 0rem; */
    position: relative;
}

.card-image {
    background-color: rgba(240, 240, 240, 0.5);
    /* padding: 5px; */
    /* margin: 0.5rem 0.5rem 0; */

    position: relative;
    /*  max-width: 100%; /* para tama単o de la imagen responsive*/
    /* width: auto; */ 
    /* height: auto; */
    /* margin: auto; */
    /* max-width: 250px; */
    /*  width: 100px; */
    /* margin: 0rem auto; */
}

div.card-image img {
    /* max-width: 100%; */ /* para tama単o de la imagen responsive*/
    width: 100%; /* -webkit-fill-available no compatible con mozilla*/
    background-color: #4647a4;
    border-radius: 1.5rem; /* borde redondeado de la imagen */

    position: relative;
}

div.card-image span{ /* div.box-img-label */
   /*  width: fit-content; */
   /*  height: fit-content; */
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);

    position: absolute ;
    z-index: 2;
    /* left: 5px; */
    bottom: 5px;
    padding: 0rem;
    border-radius: 0 0.5rem 0 1.5rem; /* borde para esquina igual a .card-img img */
}

div.card-image p { /* maximo 21 caracteres */
    padding: 0.6rem;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

div.card-content {
    width: auto;
    margin: 0.5rem 0rem 0rem;
    padding: 0rem;
    justify-items: left;
    background-color: rgba(53, 113, 82, 0.9);
}

div.card-content p {
    font-size: 14px;
    margin: 0;
}

div.card-content h3 {
    font-size: 16px;
    margin: 0.5rem 0;
}

div.card-content-container{
    /* margin: auto; */
    /* height: 20px; */
    /* width: auto; */
    background-color: rgba(100, 110, 5,1);
    width: 100%;
    display: flex;
    flex-direction: row;
    /* gap: 20%; */
    justify-content: space-between;
    align-items: center;
}

div.price-tag{
    padding: 0rem 0rem;
}

/* div.toggle-subcard {
    padding: 0.6rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
}

div.toggle-subcard:hover {
    background-color: rgba(0,0,0,1);
} */

.btn-show-more {
    padding: 0.6rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    border: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn-show-more:hover {
    background-color: rgba(0,0,0,1);
    cursor: pointer;
}

/* .btn-show-more span {
    font-size: 16px;
    font-weight: 400;
} */

/* .btn-show-more:focus + .card-hidden {
    transform: translateY(0px);
} */

.pos-absolute-BR {
    position: absolute;
    right: 0;
    bottom: 0;
}

div.card-hidden {
    background-color: rgba(228, 231, 203, 0);
    /* transform: translateY(600px); */ /* 400-600  */
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 90%;
    /* border-radius: 1rem 1rem 0 0; */
    /* overflow-y: scroll; */
}

div.card-hidden-box {
    background-color: rgb(61, 79, 68);
    /* text-align: center; */
    padding: 0.3rem 0rem 0rem;
    border-radius: 0.8rem 0.8rem 0 0;
}

.btn-close-show-more {
    background-color: rgb(152, 152, 152);
    /* height: 1rem; */
    /* text-align: center; */
    margin: 0rem auto;
    /* padding: 0rem; */
    width: 70%;
    border-radius: 1rem;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,1);
}

.btn-close-show-more:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-close-show-more::before {
    content: '\2716';
}

div.card-hidden-box span {
    color: rgb(246, 246, 246);
    display: block;
    text-align: center;
    padding: 0.5rem 0rem;
    font-size: 1rem;
    /* margin: 0.5rem auto 0; */
}

.description-box {
    background-color: rgba(212, 212, 212, 0.8);
    font-size: 1rem;
    height: 85%;
    overflow-y: auto;
}

.description-box ul {
    margin: 0rem 0rem 0rem;
    padding: 1rem 0.6rem 2rem 2rem;
}

.hide-card {
    transform: translateY(600px);
}

div.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 2rem;

    margin: 3rem 0.5rem 0;

}

@media only screen and (max-width:800px) {
    div.contact-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    gap: 1.5rem;
}

div.contact-box {
    /* margin: 1rem; */
    /* width: auto; */
    padding: 1rem;
    background-color: rgba(246, 246, 246, 0.809);
}

div.contact-box p {
    /* margin: 0 1rem; */
    font-size: 16px;
    font-weight: 500;
}

.ico-box {
    background-color: rgba(193, 88, 88, 1);
    /* margin: 0.5rem 0; */
    /* padding: 0rem; */
    height: 50px;
    width: 50px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

}

a.ico-box:hover {
    background-color: rgba(153, 153, 153, 0.7);
    cursor: pointer;
}

/* css de referencia ------------------------------------------------ */
.container {
    width: 400px;
    margin: 0 auto;
}

section article {
    transition: all 0.4s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 0.5rem 0;

    cursor: pointer;
}

section article:hover {
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.3);
}

section article h2, section article p {
    margin: 1rem;
}

footer {
    background-color: #222;
    padding: 3rem;
    color: white;
}

.contact {
    width:fit-content;
    margin: 0 auto;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}

footer p {
    margin: 0;
    float: left;
}

footer a:hover {
    color: aqua;
}

.top {
    float: right;
    margin: 0;
    padding: 0;
    /* display: inline-block; */
}

.separador {
    margin: 0.5rem auto;
}

.fix-img1 {
    /* margin: -150px 200px 0 0px; */
    background-color: #848484;
    /*  width: 400px;*/
    max-width: 250px;
    object-fit: cover;
    justify-self: center;
    /* object-position: 50% 50%; */
}

.img {
    /* width: 400px;
    height: 400px;*/
    background-color: #000000;
}

