html {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

* {
    box-sizing: border-box;
}

:root {
    --description-head-height: 22%;
    --description-head-height-mobile: 25%;
}

.lorem-text-88::after {
    content: ' Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus lorem pharetra.';
}

/*  Estilos en solitario ----------------------------------------------------------------*/
.fixed-box {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
}

.shadow-box1 {
    box-shadow: 0 0.4rem 0.9rem rgba(31, 31, 31, 0.689);
}

.block-void {
    height: 120px;
    width: auto;
    background-color: rgba(193, 88, 88, 1);
}

.no-margin {
    margin: 0;
    padding: 0;
}

.visibility-hide {
    visibility: hidden;
}

.force-font {
    font-family: "Montserrat", sans-serif;
}

.btn-font-style {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.space-box{
    /* display: inline-block; */
    /* width: 20px; */
    background-color: #dee75c;
    /* margin: 0rem 0.5rem; */
}

/* header y barra de navegacion ------------------------------------*/
.header-box {
    position: static;
    padding: 0.2rem 1rem 0rem;
    top: 0px;
    z-index: 100;
    /* background-color: #4647a4; */
    /* background-color: rgba(24, 23, 27, .85); */
}

.header-container {
    /* display: flex; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* gap: 0.1px; */
}

.title-prime { /* header h1 */
    /* background-color: #312e3b; */
    color: white;
    font-size: 24px;
    text-align: center;
    /* padding: 0.2rem 0rem; */
    margin: 0px auto;

    z-index: 100;
    position: relative;
}

@media only screen and (max-width:700px) {
    .title-prime {
        font-size: 18px;
    }
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

/* .logo-container, 
.logo-container2 {
    background-color: rgba(255,0,125,1);
    justify-content: center;
    align-items: center;
} */

.logo-container {
    display: flex;
}

.logo-container2 {
    display: none;
}

.logo-container img {
    height: 43px;
}

.logo-container2 img {
    height: 35px;
}

.nav-box::before{ /* css para fondo difuminado */
    content: "";
    position: absolute;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    inset: -50px 0 0;
    z-index: -1;
    background-color: rgba(24, 23, 27, .85);
}

@media only screen and (max-width:700px) {
    .nav-box::before{ /* css para fondo difuminado */
        inset: -100px 0 0px;
    }
}


.nav-box {
    /* background-color: #312e3b; */
    color: white;
    padding: 0rem 1rem;
    width: auto;
    height: fit-content;
    border-radius: 0px 0px 20px 20px;
    z-index: 99;
}

@media only screen and (max-width:700px) { /* ajuste de header y nav-box para pantallas menores 700px */
    .header-box {
        position: sticky;
    }
    .header-container{
        display: flex;
    }
    .title-prime {
        margin: 0;
    }
    .logo-container {
        display: none;
    }
    .logo-container2 {
        display: flex;
    }
    .nav-box {
        top: 35px;
    }
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    max-width: 1600px; /* ancho maximo centrado */
    margin: 0px auto;
}

@media only screen and (max-width:700px) {
    .nav-container {
        grid-template-columns: 100%; /* auto 75% */
    }
}

.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.4rem;

    padding: 0.6rem 0rem; /* aumentar padding para cerrar espacio con section-box */
    align-items: center;

    /* background-color: #000000; */
    overflow-x: auto;
    max-width: 1000px;
}

.scroll-nav {
    scrollbar-color: rgb(198, 196, 196) #312e3b;
}

.nav-card {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: #ffffff;
    text-decoration: none;
    /* background-color: rgb(64, 75, 171); */  
    border-radius: 20px;
    padding: 0.5rem 0.8rem;

    min-width: fit-content; /* mantener texto horizontal */

}

.nav-card:link {
    background-color: rgb(62, 62, 62);  
    color: #ffffff;
}

.nav-card:hover, 
.active {
    background-color: #4647a4;
    color: #ffffff;
}

.nav-card:active {
    background-color: #dee75c;
    color: #000000;
}

.nav-card-title {
    font-size: 14px; /* tamaño de pestañas en navbar */
    font-weight: 400;
}

@media only screen and (max-width:700px) {
    .nav-card-title {
        font-size: 12px;
        font-weight: 400;
    }
}

/* secciones -----------------------------------------------*/
div.main-page {
    /* padding: 0rem 0rem 2rem; */
    background-color: #000000;
    padding-bottom: 2rem;
}

div.main-page section:nth-child(odd){
    background-color: rgb(59, 72, 114);
}

div.main-page section:nth-child(even){
    background-color: rgb(39, 149, 74);
}

div.main-page section:last-child {
    padding-bottom: 2.5rem;
}

div.section-box { 
    /* max-width: 1600px; */
   /*  margin: 0px auto; */
    padding: 0rem 1rem;
}


.section-container {
    /* margin: 0rem 0.2rem; */
    padding-top: 5.5rem; /* espaciado para la barra de navegacion */
    padding-bottom: 1rem;
    /* padding: 5.4rem 0rem 0.5rem;  */
    max-width: 1600px; /* ancho maximo de main page centrado */
    margin: 0px auto;

}

.titulo-index{
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;

    /* margin: 0rem 0rem 0.8rem; */
    background-color: #525252;

    padding: 0.5rem 1rem;

}

.style-border { /* borrar */
    border-radius: 0px;
}

.horizontal-space { /* borrar */
    padding: 0rem 1rem;
}

.grid-section { /* borrar */
    background-color: rgb(196, 196, 196);

    height: fit-content;
    width: auto;

    margin: 0rem 0rem;
    /* padding-bottom: 1rem; */
    padding: 1rem 0rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: start;

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

@media only screen and (max-width:1000px) and (min-width:670px)  { /* borrar */
    .grid-section {
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media only screen and (max-width:670px) { /* borrar */
    .grid-section {
        grid-template-columns: repeat(1, 1fr);
        
    }
}

.card-section-box {
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.card-section-container {
    display: flex;
    background-color: rgb(175, 175, 175);
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    padding: 1rem 0; /*  comprCBION DE altura de cartas */
    justify-content: flex-start;
    /* height: min-content; */
    
}

.card-section-container:first-child::before {
    content: "blank left";
    font-size: 14px;
    padding: 0 10px;
    /* overflow-x: hidden; */
    background-color: #4647a4;
   /*  visibility: hidden; */
    display: none;
}

.card-section-container:last-child::after {
    content: "blank right";
    font-size: 14px;
    padding: 0 10px;
    /* overflow-x: hidden; */
    background-color: #4647a4;
   /*  visibility: hidden; */
}

.item-box { /* equivalente a grid section card */
    background-color: rgba(253, 42, 42, 0.7);
    padding: 5px;
    width: min-content;
    position: relative;
    /* height: 395px; */
    min-height: 360px
}

.item--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.item--info{
    background-color: rgb(76, 221, 53);
    /* height: 100%; */
    /* display: flex;
    flex-direction: column; */
    /* position: relative; */

}

.item--img {
    height: 260px;
    min-width: 260px;
    background-color: #4647a4;
    border-radius: 12%;
}

.item--img img {
    height: 100%;
}

.lc-item-img-size-x {
    /* height: 260px; */
    width: 100%;
    height: 100%;
    background-color: rgba(243, 235, 13, 0.806);
}

@media only screen and (max-width:700px) {
    .item--img {
        height: 220px;
        min-width: 220px;
    }
    .lc-item-img-size-x {
        height: 220px;
    }
}

.gb-flex-container-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 5px;
    padding: 0px;
}

.item--title {
    background-color: rgba(153, 153, 153, 0.7);
    margin-top: 10px;
    /* height: calc(130px /2); */ /* desactivar para auto */
    /* height: 450px; */
}

.item--title h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.item--title p {
    margin: 0px;
    font-size: 12px;
}

.item--footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.item--price {
    font-size: 16px;
    font-weight: 500;
}

.lc-item-sale-tag {
    gap: 10px;
}

.item--wholeprice {
    font-size: 14px;
    text-decoration: line-through;
}

.item--discount {
    font-size: 14px;
    background-color: rgb(194, 194, 194);
    padding: 0px 2px;
    border-radius: 5px;
}

.item--price::before,
.item--wholeprice::before {
    content: '\0024';
}

.item--discount::before {
    content: '\002d';
}
.item--discount::after {
    content: '\0025';
}

.item-button {
    color: #efefef;
    background-color: #000000;
    /* position: absolute; */
    /* right: 0px; */
    bottom: 0px;
    margin-top: 10px;
}

.item-description,
.item-description-box {
    /* background-color: rgba(54, 54, 54, 0.676);
    color: white; */
    position: absolute;
    top: 15%;
    left: 0px;
    z-index: 5;
    height: 85%;
    /* overflow-y: hidden; */
    width: 100%;
}

.item-description--header {
    background-color: rgb(41, 41, 41);
    height: var(--description-head-height);
    padding: 10px 5px;
}

.gb-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /* padding: 10px 0px; */
}

.gb-truncate-text-lines-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    line-clamp: 2; /* Standard property for future compatibility */
    -webkit-box-orient: vertical;
}

.gb-truncate-text-lines-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    line-clamp: 3; /* Standard property for future compatibility */
    -webkit-box-orient: vertical;
}

.item-description--header h3 {
    margin: 0px;
    font-size: 14px;
    padding-top: 5px;
    font-weight: 500;
    color: white;
}

.item-description--feat {
    background-color: rgba(212, 212, 212, 0.497);
    height: calc(100% - var(--description-head-height));
    overflow-y: auto;
}

@media only screen and (max-width:700px) {
    .item-description--header {
        height: var(--description-head-height-mobile);
    }
    .item-description--feat {
        height: calc(100% - var(--description-head-height-mobile));
    }
}

.item-description--feat p {
    margin: 5px auto;
    text-align: center;
}

.item-description--feat ul {
    padding-left: 30px;
    margin-top: 0px;
}

.btn-show-more {
    padding: 0.6rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    border: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn-show-more:hover {
    background-color: rgba(0,0,0,1);
    cursor: pointer;
}

.pos-absolute-BR {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.btn-close-show-more {
    background-color: rgb(152, 152, 152);
    /* height: 1rem; */
    /* text-align: center; */
    margin: 0rem auto;
    /* padding: 0rem; */
    width: 70%;
    border-radius: 1rem;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,1);
}

.btn-close-show-more:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-close-show-more::before {
    content: '\2716';
    padding-right: 5px;
}

.hide-card {
    transform: translateY(600px);
}

/* seccion de contacto ------------------------------------------------------------------------------ */

div.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 2rem;

    margin: 3rem 0.5rem 0;

}

@media only screen and (max-width:800px) {
    div.contact-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    gap: 1.5rem;
}

div.contact-box {
    /* margin: 1rem; */
    /* width: auto; */
    padding: 1rem;
    background-color: rgba(246, 246, 246, 0.809);
}

div.contact-box p {
    /* margin: 0 1rem; */
    font-size: 16px;
    font-weight: 500;
}

.ico-box {
    background-color: rgba(193, 88, 88, 1);
    /* margin: 0.5rem 0; */
    /* padding: 0rem; */
    height: 50px;
    width: 50px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

}

a.ico-box:hover {
    background-color: rgba(153, 153, 153, 0.7);
    cursor: pointer;
}

/* Footer ---------------------------------------------------------------------------- */

footer {
    background-color: #252525;
    padding-bottom: 1rem;
    /* border-top: 1px solid rgb(110, 110, 110); */
    
}

.top-button-box {
    padding: 0rem 25%;
    /* border-top: 1px solid rgb(110, 110, 110); */
}

a.top-button {
    /* background-color: #dee75c; */
    margin: 0 auto;
    /* padding: 0.5rem; */
    display: flex;
    justify-content: center;
    text-decoration: none;
    max-width: 1600px;
    /* min-width: 80%; */
    border-radius: 20px;
    
}

a.top-button:link {
    background-color: #312e3b;
}

a.top-button:hover {
    background-color: #575757;
}

.top-button-txt {
    font-size: 14px;
    color: #efefef;
    padding: 0.5rem 0;
}

.footer-box {
    padding: 1.2rem;
    border-top: 1px solid rgb(110, 110, 110);
    background-color: #4647a4;
}

.footer-container {
    /* border-style: solid hidden hidden hidden; */
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    flex-flow: row;
    justify-content: center; /* space-between */
    gap: 0.5rem;
    max-width: 1600px;
    margin: 0 auto;
}

@media only screen and (max-width:800px) {
    .footer-container {
        flex-flow: column;
        /* justify-content: center; */
        align-items: center;
    }
}

.footer-copyright {
    color: #efefef;
    font-size: smaller;
    margin: 0;
    font-weight: 300;
}

div.footer-copyright::before {
    content: '\00A9';
}

div.footer-copyright a {
    color: #efefef;
    text-decoration: none;
}

div.footer-copyright span {
    font-weight: 500;
}

/* .gb-no-display {
    display: none;
} */
